/*Estilo Formal*/
img
{
    width: 40px;
    height: 40px;
}
#header
{
    text-shadow: 2pt 6pt 6pt green;
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
    font-variant: small-caps;
    border-color: red;
    border-width: 2;
    border-style: groove;
}
p
{
    border-width: 2;
    border-style: dashed;
    border-color: blue;
}